.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 3cm;
  height: 2cm;
  text: size adjust 2px;
  background-color: rgb(255, 245, 233);
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(255, 245, 233);
  color: white;
}

 